<h2>Trips</h2>

<ul>
<%= paginate @trips %>
<article class="list-row heading-row">

    <h3><span>ID</span></h3>
    <h3><span>Date</span></h3>
    <h3><span>Passenger</span></h3>
    <h3><span>Driver</span></h3>
    <h3><span>Cost</span></h3>
    <h3><span>Rating</span></h3>

</article>
<%= render partial: "trip", collection: @trips %>
</ul>
