<h1>Trip Details</h1>

<section class="info-box">
  <table id ="tb-trips">
  <tr>
    <th>Trip ID</th>
    <th>Date</th>
    <th>Passenger</th>
    <th>Driver</th>
    <th>Cost</th>
    <th>Rating</th>
  </tr>
  <tr>
  <%= render @trip %>
  </table>

  <ul>
    <li><%= link_to "Edit", edit_trip_path(@trip) %><li>
    <li><%= link_to("Delete", trip_path(@trip.id), method: :delete, data: { confirm: "Are you sure you want to delete: #{ @trip.id }?" }) %></li>
  <ul>
</section>

<section class="trips">

</section>
