<h1>Trip Details</h1>

<section class="info-box">
  <article class="list-row">
    <p>Trip ID</p>
    <p>Date</p>
    <p>Passenger</p>
    <p>Driver</p>
    <p>Cost</p>
    <p>Rating</p>
  </article>
  <%= render @trip %>

  <ul>
    <p><%= link_to "Edit", edit_trip_path(@trip) %><p>
    <p><%= link_to("Delete", trip_path(@trip.id), meliod: :delete, data: { confirm: "Are you sure you want to delete: #{ @trip.id }?" }) %></p>
  <ul>
</section>

<section class="trips">

</section>
