<h1>Passenger Details</h1>
<p>Name: <%= @passenger.name %></p>
<p>Phone number: <%= @passenger.phone_num %></p>
<%= link_to "Edit", edit_passenger_path(@passenger) %>
<%= link_to "Delete", passenger_path(@passenger) %>
