/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* General Styling */
* {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  /* font-family: 'Bree Serif', serif; */
  text-align: center;
}

h2 {
  font-size: 4em;
}

nav > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

#tb-trips {
  width: 100%;
  text-align: center;
  line-height: 1.75em;
}

a {
  text-decoration: none;
  color: hsl(26, 83%, 49%);
}

a:hover {
  color: hsl(30, 9%, 12%)
}

body nav ul {
  list-style-type: none;
}

/* Trip Table Styling */

#tb-trips {
  width: 100%;
  text-align: center;
  line-height: 1.75em;
}

#tb-trips tr:nth-child(odd) {
  background-color: hsl(120, 9%, 89%);
}

#tb-trips tr:nth-child(even) {
  background-color: hsla(120, 9%, 89%, .2);
}


/* Info Box Styling */
.info-box {
  display: flex;
  flex-flow: wrap column;
  justify-content: space-around;
  text-align: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 2rem;
}

.info-box ul {
  list-style-type: none;
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-end;
}

.info-box a {
  display: inline-block;
  text-align: center;
  padding: 1rem 3rem;
}

ul a:hover {
  background-color: hsla(30, 9%, 12%, .2);
  color: hsl(26, 83%, 49%);
}

/* Error Message Styling */

#error-messages {
  background-color: hsla(0, 54%, 49%, .1);
border: 2px solid hsl(0, 75%, 38%);
margin: 2rem;
padding: 2rem;
border-radius: 3%;
}

#error-messages ul {
  list-style-type: none;
}

/* Input Form */
#modify-input {
  background-color: lightblue;
}
