/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

/* General Styling */
* {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  /* font-family: 'Bree Serif', serif; */
  text-align: center;
}

h2 {
  font-size: 4em;
}

/* nav > ul {
list-style-type: none;
display: flex;
flex-flow: row wrap;
justify-content: space-around;
text-align: center;
} */

a {
  text-decoration: none;
  color: hsl(26, 83%, 49%);
}

a:hover {
  color: hsl(30, 9%, 12%)
}


/* Flexbox Table Styling */
.r-table {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 5%;
  justify-content: space-around;
  width: 90%;
}

.r-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border: solid 3px white;
  background-color: hsla(12, 11%, 91%, .2);
  text-align: center;
}

.r-cell.header {
  text-align: center;
  font-weight: 400;
  background-color: hsla(12, 11%, 91%, .4);
}



/* Flexbox Column Sizing */
/* =========================== */
[class*="col-"] > .r-cell {
  width: 100%;
}

[class*="col-"] > .header {
  width: 100%;
  /* visibility: hidden; */
  display: none;
}

.r-cell:nth-child(6n+7) {
  margin-top: 5vh;
  background-color: hsla(12, 11%, 91%, .4);
}

@media only screen and (min-width: 768px) {
  [class*="col-"] > .header {
    /* visibility: visible; */
    display: block;
  }

  .col-2 > .r-cell { width: 50%}
  .col-3 > .r-cell { width: 33.33%}
  .col-4 > .r-cell { width: 25%}
  .col-5 > .r-cell { width: 20%}
  .col-6 > .r-cell { width: 13.2%}
  .col-7 > .r-cell { width: 14.2%}

  .r-cell:nth-child(6n+7) {
    margin-top: 0;
    background-color: hsla(12, 11%, 91%, .2);
  }

  .col-6 > .r-cell.c2-fr {
    width: 18%;
  }
}

#trip_rating {
  width: 2rem;
}

/* [id*="edit_trip_"] >  */
input[type="submit"] {
  background-color: hsl(26, 83%, 49%);
  margin: 1em auto;
  padding: 1em auto;
  border-radius: 8%;
  border: solid .5rem hsla(25, 84%, 62%, 0.1);
  color: hsla(0, 0%, 100%, 1);
  font-weight: bold;
  display: block;
}


/* .name a {
width: 20%;
} */

.list {
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.list-row {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  /* margin: 0 2rem; */
  text-align: left;
}

.list-row section, .list-row li {
  /* width: 20vw; */
  height: 3vh;
  margin: 0 1vw;
  justify-content: flex-end;
  width: 33%;
}



.list-row li:last-child{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.list-row li:last-child a {
  margin: 0 2vw;
}


/* Pagination Styling */

.page, .next, .last {
  padding: 1em;
}

.current {
  background-color: hsla(30, 9%, 12%, .2);
  color: hsl(26, 83%, 49%);
}

.page:hover, .next:hover, .last:hover {
  background-color: hsla(30, 9%, 12%, .08);
  color: hsl(26, 83%, 49%)
}
/* Trip Table Styling */

#tb-trips {
  width: 100%;
  text-align: center;
  line-height: 1.75em;
}

#tb-trips tr:nth-child(odd) {
  background-color: hsla(120, 9%, 89%, .2);
}

#tb-trips tr:nth-child(even) {
  background-color: hsla(120, 9%, 89%, .4);
}


/* Info Box Styling */
.info-box {
  display: flex;
  flex-flow: wrap column;
  justify-content: space-around;
  text-align: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 2rem;
}

.info-box ul {
  list-style-type: none;
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-end;
}

.info-box ul a {
  display: inline-block;
  text-align: center;
  padding: 1rem 3rem;
}

.info-box ul a:hover {
  background-color: hsla(30, 9%, 12%, .2);
  color: hsl(26, 83%, 49%);
}

/* Error Message Styling */

#error-messages {
  background-color: hsla(0, 54%, 49%, .1);
  border: 2px solid hsl(0, 75%, 38%);
  margin: 2rem;
  padding: 2rem;
  border-radius: 3%;
}

#error-messages ul {
  list-style-type: none;
}

/* Input Form */
.modify-input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modify-input > * {
  margin: 1vh 0;
}
/* Flex Dropdown Menu */

.main-navigation{
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  margin:2em;
}

.menu {
  display:flex;
  flex-wrap: wrap row;
  list-style-type: none;}


  .menu li{
    display:block;
    list-style-type:none;
    text-transform:uppercase;

  }

  .menu li a{
    display:block;
    text-align:center;
    text-decoration:none;
    color:#777;
    padding:1rem;
  }

  .menu li a:hover{
    background:#777;
    color:#fff;
  }
}

@media (min-width: 800px) {
  .menu{
    flex-direction: row;
    justify-content: space-around;
  }
}

/* .menu-item-has-children > a:after{
  font-family:'Genericons';
  content: '\f431';
  padding:1px;
} */

nav ul ul {
  display: none;
}

@media (min-width: 800px) {
  nav ul ul {
    display: none;
    position:absolute;
  }
}

nav ul li:hover > ul {
  display:block;
  color:hsl(0, 0%, 100%);
  padding-left:2rem;
}

@media (min-width: 800px) {
  nav ul li:hover > ul {
    padding-left:0;
    background:hsl(0, 0%, 46%);
  }

  nav ul li:hover > ul a{
    color:hsl(0, 0%, 100%);
  }

  .sub-menu li {
    display:flex;
    padding-right:2em;
  }

  .sub-menu  li:hover, li a:hover{
    background:hsl(0, 0%, 86%);
    color:hsl(0, 0%, 46%);
  }

  nav ul ul ul{
    margin:0 0 0 100%;
    box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.6);
  }

  /* .menu-item-has-children .menu-item-has-children > a:after{
    font-family:'Genericons';
    content: '\f431';
    padding:1px;
    transform: rotate(-90deg);
  } */

}
