<section class="r-cell header">ID</section>
<section class="r-cell header">Date</section>
<section class="r-cell c2-fr header">Passenger</section>
<section class="r-cell c2-fr header">Driver</section>
<section class="r-cell header">Cost</section>
<section class="r-cell header">Rating</section>
